<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Library Management System</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Library</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css" th:href="'/css/bootstrap.min.css'">
    <script src="../../static/js/jquery-3.2.1.min.js" th:src="'/js/jquery-3.2.1.min.js'"></script>
    <script src="../../static/js/bootstrap.min.js" th:src="'/js/bootstrap.min.js'"></script>
    <script src="../../static/js/borrow.js" th:src="'/js/borrow.js'"></script>
    <link rel="stylesheet" href="../../static/css/background.css" th:href="'/css/background.css'">
</head>
<body>
<!--导航-->
<div class="container-fluid ">
    <div class="row clearfix">
        <div class="col-md-12 column" style="padding: 0px">
            <nav class="navbar navbar-default  mynav" role="navigation" >
                <div class="container-fluid" >
                    <div class="navbar-header" style="text-indent: 30px">
                        <a class="navbar-brand" href="#"><img src="../../static/image/Library.png"  th:src="'/image/Library.png'" ondragstart="return false;"></a>
                    </div>
                    <div>
                        <ul class="nav navbar-nav pull-right bbbbb">
                            <li><a href="../../templates/admin/admin_submit.html" th:href="'/admin/toBorrowBook'">Borrow book</a></li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    Query
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu aaaaa">
                                    <li><a href="#" th:href="'/admin/toAllPaidArrearage'">All paid</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#" th:href="'/admin/toAllUnpaidArrearage'">All unpaid</a></li>
                                </ul>
                            </li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    Arrearage
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu aaaaa">
                                    <li><a href="#" th:href="'/admin/bookStatusList'">Book information</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#" th:href="'/admin/toUserInfo'">User information</a></li>
                                </ul>
                            </li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    Add
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu aaaaa">
                                    <li><a href="#" th:href="'/admin/toAddBook'">Book</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#" th:href="'/admin/toAddBook'">Student</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#" th:href="'/admin/toAddAdmin'">Librarian</a></li>
                                </ul>
                            </li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <span class="glyphicon glyphicon-user">Admin</span>
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right aaaaa">
                                    <li><a  class="text-right" href="#" th:href="'/web/getBookList'">Index</a></li>
                                    <li class="divider"></li>
                                    <li><a class="text-right" href="/logout">Log out</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            </div>

            <!-- 搜索栏-->
            <div class="col-lg-6 col-lg-offset-6">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <div class="col-lg-8">
                            <input type="text" class="form-control" id="firstname"
                                   placeholder="Please input student id">
                        </div>
                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-default">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <br>
            <!--欠费表-->
            <div class="col-lg-10 col-lg-offset-1 well well-lg" style="background: rgba(255,255,255,0.7)">
                <table class="table table-hover">
                    <h2 style="margin-top: 5px">User's Arrearage</h2>
                    <thead>
                    <tr>
                        <th>BookId</th>
                        <th>Title</th>
                        <th>ISBN</th>
                        <th>Borrower</th>
                        <th>Borrow Date</th>
                        <th>Arrearage</th>
                    </tr>
                    </thead>
                    <!--内容-->
                    <tbody>
                    <th:block th:each="p,index:${fineList}">
                        <tr>
                            <td th:text="${p.id}">1</td>
                            <td th:text="${p.name}">Bangalore</td>
                            <td th:text="${p.isbn}">isbn</td>
                            <td th:text="${p.userName}">name</td>
                            <td th:text="${#dates.format(p.borrowTime,'yyyy-MM-dd')}">2017-11-12</td>
                            <td th:text="'￥'+${p.fine}">￥100</td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<div class="bottom">
    <div class="normal">
        <img src="../../static/image/Library.png"  th:src="'/image/Library.png'" style="height: auto; width: 350px; margin-top: 25px" class="logow">
        <ul class="ul_bottom">
            <li>Tel：17730308728</li>
            <li> Email：17730308728@qq.com</li>
        </ul>
        <img src="../../static/image/barcode.jpg" th:src="'/image/barcode.jpg'" style="height: auto ;width: 80px;margin:10px;">
    </div>
</div>
<div class="last">
    ©Copyright &copy;2017. Group 6 Software All Rights Reserved.
</div>
</body>

<script>
    var id_count = 0;
    var img_count = 0;

    var fileUp = function (me) {
        base64Image({
            file: me,                              /*【必填】对应的上传元素 */
            callback: function (imageUrl) {        /*【必填】处理成功后的回调函数 */
                var img = new Image();
                img.src = imageUrl;
                var path="";
                id_count += 1;
                path += "<div id='"+id_count+"' class=\"closed\" style=\"float:left;width:132px;height:132px;overflow:hidden;position:relative;display: flex;justify-content: center;align-items: center;margin-right:2px;margin-bottom: 4px;\">" +
                        "<img id='img_"+id_count+"' class='upload' src=\""+img.src+"\"  style=\"vertival-align:middle;width:129%;\"><span id=\"removed\">X</span></div>";
                $("#image-list").append(path);

                var count=0;
                $("img").filter('.upload').each(
                        function () {
                            count++;
                        })
                if(count>1){
                    $("#"+id_count).remove();
                    alert("Only support to upload 1 picture");
                }
            },

            ratio:0.75                        /*【选填】压缩率默认0.75 */
        });
    };
</script>

<script type="text/javascript">
    $("#image-list").off("mouseenter","div").on("mouseenter","div",function() {
        var that = this;
        var dom = $(that).children("span");
        dom.on("click", function () {
            dom.removeClass("hide");
            dom.parent().remove();
        });
    })
</script>

<script type="text/javascript">
    $('#publishTime').datetimepicker({
        format: 'yyyy-mm-dd',//定义时间格式
        autoclose: true,//选择好自动关闭
        minView: 2,//只选择到小时
    });
</script>

</html>