<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:data="http://www.thymeleaf.org/extras/data" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Library</title>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="../../static/image/logo.ico" th:href="'/image/logo.ico'">
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css" th:href="'/css/bootstrap.min.css'">
    <link rel="stylesheet" href="../../static/css/background.css" th:href="'/css/background.css'">
    <script src="../../static/js/jquery-3.2.1.min.js" th:src="'/js/jquery-3.2.1.min.js'"></script>
    <script src="../../static/js/bootstrap.min.js" th:src="'/js/bootstrap.min.js'"></script>
    <script th:src="'/js/toastr.min.js'" src="../../static/js/toastr.min.js"></script>
    <link rel="stylesheet" th:href="'/css/toastr.min.css'" href="../../static/css/toastr.min.css">
    <style type="text/css">
        .footer {
            border-top: 1px solid #e5e5e5;
            color: #777;
            padding: 19px 0;
            background-color: #f5f5f5;
            bottom:0px;
            width: 100%;
            position:absolute;
        }
        .myDiv{
            padding-left: 20px;
            border-left:1px solid #D8D8D8;
        }
    </style>

</head>


<div class="container-fluid " style="padding: 0px">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <nav class="navbar navbar-default  mynav" role="navigation" >
                <div class="container-fluid" >
                    <div class="navbar-header" style="text-indent: 30px">
                        <a class="navbar-brand" href="#"><img src="../../static/image/Library.png"  th:src="'/image/Library.png'" ondragstart="return false;"></a>
                    </div>
                    <div>
                        <ul class="nav navbar-nav pull-right bbbbb">
                            <li><a href="../../templates/admin/admin_submit.html" th:href="'/admin/toBorrowBook'">Lend/Return</a></li>



                            <li class="dropdown active">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    Query
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu aaaaa">
                                    <li><a href="#" th:href="'/admin/bookStatusList'">Book Information</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#" th:href="'/admin/toUserInfo'">Reader Borrowed History</a></li>
                                </ul>
                            </li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    Manage
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu aaaaa">
                                    <li sec:authorize="hasRole('ROLE_SUPER_ADMIN')"><a href="#" th:href="'/admin/toManageAdmin'">Admin</a></li>
                                    <li sec:authorize="hasRole('ROLE_SUPER_ADMIN')" class="divider"></li>
                                    <li><a href="#" th:href="'/admin/toManageUser'">Reader</a></li>
                                </ul>
                            </li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    Fine
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu aaaaa">
                                    <li><a href="#" th:href="'/admin/toAllPaidArrearage'">All Paid</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#" th:href="'/admin/toAllUnpaidArrearage'">All UnPaid</a></li>
                                </ul>
                            </li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    Add
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu aaaaa">
                                    <li><a href="#" th:href="'/admin/toAddBook'">Book</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#" th:href="'/admin/toAddStudent'">Reader</a></li>
                                    <li  sec:authorize="hasRole('ROLE_SUPER_ADMIN')" class="divider"></li>
                                    <li sec:authorize="hasRole('ROLE_SUPER_ADMIN')"><a href="#" th:href="'/admin/toAddAdmin'">Admin</a></li>
                                </ul>
                            </li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <span class="glyphicon glyphicon-user" th:text="${user}">Admin</span>
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right aaaaa">
                                    <li><a  class="text-right" href="#" th:href="'/web/getBookList'">Home</a></li>
                                    <li class="divider"></li>
                                    <li><a class="text-right" th:href="'/admin/adminInfo'">Archives</a></li>
                                    <li class="divider"></li>
                                    <li><a class="text-right" href="/logout">Log out</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- 搜索栏-->
            <div class="col-lg-6 col-lg-offset-6">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-lg-5">
                            <input type="text" class="form-control" id="username" name="username"
                                   placeholder="Please input student id">
                        </div>
                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-default"onclick="toSearchUserInfo()" >
                                <span class="glyphicon glyphicon-search" ></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <br>

            <div class="row clearfix">
                <!-- 左边栏 -->
                <div class="col-md-3 col-md-offset-1 " style="margin-top: 30px;">
                    <div class="well well-lg col-lg-8" style="background-color: rgba(255,255,255,0.5)">
                    <h3>Reader ID:</h3><p th:text="${userID}"></p>

                    <h3>Name:</h3><p th:text="${username}"></p>
                    </div>
                </div>
                <!-- 左边栏结束 -->
                <div class="col-md-6 ">

                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>BookId</th>
                            <th>Title</th>
                            <th>ISBN</th>
                            <th>author</th>
                            <th>Borrow Date</th>
                            <th>Status</th>

                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="p,index:${bookList}">
                        <tr>
                            <td th:text="${p.name}"></td>
                            <td th:text="${p.name}"></td>
                            <td th:text="${p.isbn}"></td>
                            <td th:text="${p.autherName}"></td>
                            <td th:text="${#dates.format(p.borrowTime,'yyyy-MM-dd')}"></td>
                            <th:block th:switch="${p.borrowStatus}">
                                <td th:case="'1'">Not Returned</td>
                                <td th:case="'2'">Returned</td>
                            </th:block>
                        </tr>
                        </th:block>
                        </tbody>
                    </table>

                </div>

            </div>
        </div>
    </div>
</div>
<div class="bottom">
    <div class="normal">
        <img src="../../static/image/Library.png"  th:src="'/image/Library.png'" style="height: auto; width: 350px; margin-top: 25px" class="logow">
        <ul class="ul_bottom">
            <li>Tel：17730308728</li>
            <li> Email：17730308728@qq.com</li>
        </ul>
        <img src="../../static/image/barcode.jpg" th:src="'/image/barcode.jpg'" style="height: auto ;width: 80px;margin:10px;">
    </div>
</div>
<div class="last" style="margin-bottom: 0px!important;">
    ©Copyright &copy;2017. Group 6 Software All Rights Reserved.
</div>
</body>
<script src="/js/Admin.js"></script>
</html>