<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:data="http://www.thymeleaf.org/extras/data" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Library</title>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="../../static/image/logo.ico" th:href="'/image/logo.ico'">
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css" th:href="'/css/bootstrap.min.css'">
    <link rel="stylesheet" href="../../static/css/background.css" th:href="'/css/background.css'">
    <script src="../../static/js/jquery-3.2.1.min.js" th:src="'/js/jquery-3.2.1.min.js'"></script>
    <script src="../../static/js/bootstrap.min.js" th:src="'/js/bootstrap.min.js'"></script>
    <style type="text/css">
        .footer {
            border-top: 1px solid #e5e5e5;
            color: #777;
            padding: 19px 0;
            background-color: #f5f5f5;
            bottom:0px;
            width: 100%;
            position:absolute;
        }
        .myDiv{
            padding-left: 20px;
            border-left:1px solid #D8D8D8;
        }
    </style>

</head>


<div class="container-fluid " style="padding: 0px">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <nav class="navbar navbar-default  mynav" role="navigation" >
                <div class="container-fluid" >
                    <div class="navbar-header" style="text-indent: 30px">
                        <a class="navbar-brand" href="#"><img src="../../static/image/Library.png"  th:src="'/image/Library.png'" ondragstart="return false;"></a>
                    </div>
                    <div>
                        <ul class="nav navbar-nav pull-right bbbbb">
                            <li><a href="../../templates/admin/admin_submit.html" th:href="'/admin/toBorrowBook'">Borrow book</a></li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    Query
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu aaaaa">
                                    <li><a href="#" th:href="'/admin/bookStatusList'">Book information</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#" th:href="'/admin/toUserInfo'">User information</a></li>
                                </ul>
                            </li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    Arrearage
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu aaaaa">
                                    <li><a href="#" th:href="'/admin/toAllPaidArrearage'">All paid</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#" th:href="'/admin/toAllUnpaidArrearage'">All unpaid</a></li>
                                </ul>
                            </li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    Add
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu aaaaa">
                                    <li><a href="#" th:href="'/admin/toAddBook'">Book</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#" th:href="'/admin/toAddBook'">Student</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#" th:href="'/admin/toAddAdmin'">Librarian</a></li>
                                </ul>
                            </li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <span class="glyphicon glyphicon-user">Admin</span>
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right aaaaa">
                                    <li><a  class="text-right" href="#" th:href="'/web/getBookList'">Index</a></li>
                                    <li class="divider"></li>
                                    <li><a class="text-right" href="/logout">Log out</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- 搜索栏-->
            <div class="col-lg-6 col-lg-offset-6">
                <form class="form-horizontal" role="form" method="get" action="/admin/findUserInfo">
                    <div class="form-group">
                        <div class="col-lg-5">
                            <input type="text" class="form-control" id="username" name="username"
                                   placeholder="Please input student id">
                        </div>
                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-default" >
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <br>

            <div class="row clearfix">
                <!-- 左边栏 -->
                <div class="col-md-3 col-md-offset-1 " style="margin-top: 30px;">
                    <div class="well well-lg col-lg-8" style="background-color: rgba(255,255,255,0.5)">
                    <h3>User id:</h3><p th:text="${userID}"></p>

                    <h3>Name:</h3><p th:text="${username}"></p>
                    </div>
                </div>
                <!-- 左边栏结束 -->
                <div class="col-md-6 ">

                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>BookId</th>
                            <th>Title</th>
                            <th>ISBN</th>
                            <th>author</th>
                            <th>Borrow Date</th>
                            <th>Status</th>

                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="p,index:${bookList}">
                        <tr>
                            <td th:text="${p.id}"></td>
                            <td th:text="${p.name}"></td>
                            <td th:text="${p.isbn}"></td>
                            <td th:text="${p.autherName}"></td>
                            <td th:text="${#dates.format(p.borrowTime,'yyyy-MM-dd')}"></td>
                            <th:block th:switch="${p.borrowStatus}">
                                <td th:case="'1'">Not Returned</td>
                                <td th:case="'2'">Returned</td>
                            </th:block>
                        </tr>
                        </th:block>
                        </tbody>
                    </table>

                </div>

            </div>
        </div>
    </div>
</div>
<div class="bottom">
    <div class="normal">
        <img src="../../static/image/Library.png"  th:src="'/image/Library.png'" style="height: auto; width: 350px; margin-top: 25px" class="logow">
        <ul class="ul_bottom">
            <li>Tel：17730308728</li>
            <li> Email：17730308728@qq.com</li>
        </ul>
        <img src="../../static/image/barcode.jpg" th:src="'/image/barcode.jpg'" style="height: auto ;width: 80px;margin:10px;">
    </div>
</div>
<div class="last" style="margin-bottom: 0px!important;">
    ©Copyright &copy;2017. Group 6 Software All Rights Reserved.
</div>
</body>

<script>
    var id_count = 0;
    var img_count = 0;

    var fileUp = function (me) {
        base64Image({
            file: me,                              /*【必填】对应的上传元素 */
            callback: function (imageUrl) {        /*【必填】处理成功后的回调函数 */
                var img = new Image();
                img.src = imageUrl;
                var path="";
                id_count += 1;
                path += "<div id='"+id_count+"' class=\"closed\" style=\"float:left;width:132px;height:132px;overflow:hidden;position:relative;display: flex;justify-content: center;align-items: center;margin-right:2px;margin-bottom: 4px;\">" +
                        "<img id='img_"+id_count+"' class='upload' src=\""+img.src+"\"  style=\"vertival-align:middle;width:129%;\"><span id=\"removed\">X</span></div>";
                $("#image-list").append(path);

                var count=0;
                $("img").filter('.upload').each(
                        function () {
                            count++;
                        })
                if(count>1){
                    $("#"+id_count).remove();
                    alert("Only support to upload 1 picture");
                }
            },

            ratio:0.75                        /*【选填】压缩率默认0.75 */
        });
    };
</script>

<script type="text/javascript">
    $("#image-list").off("mouseenter","div").on("mouseenter","div",function() {
        var that = this;
        var dom = $(that).children("span");
        dom.on("click", function () {
            dom.removeClass("hide");
            dom.parent().remove();
        });
    })
</script>

<script type="text/javascript">
    $('#publishTime').datetimepicker({
        format: 'yyyy-mm-dd',//定义时间格式
        autoclose: true,//选择好自动关闭
        minView: 2,//只选择到小时
    });
</script>
<!--分页-->
<th:block th:if="${(page.totalPages le 5) and (page.totalPages gt 0)}">
    <nav style="text-align: center">
        <ul class="pagination ">

            <li th:if="${cPage>0}">
                <a th:href="'/admin/findUserInfo?username='+${username}+'&&page='+${cPage-1}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <th:block th:each="pg : ${#numbers.sequence(0, page.totalPages - 1)}">
                <li th:class="(${cPage}==${pg})?'active':'gg'"><a th:href="'/admin/findUserInfo?username='+${username}+'&&page='+${pg}" th:text="${pg+1}">1</a></li>
            </th:block>
            <li th:if="${cPage}<${page.totalPages - 1}">
                <a th:href="'/admin/findUserInfo?username='+${username}+'&&page='+${cPage+1}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>

    </nav>
</th:block>
<th:block th:if="${page.totalPages gt 5}">
    <nav aria-label="Page navigation" style="text-align: center">
        <ul class="pagination">
            <li th:if="${cPage>0}">
                <a th:href="'/admin/findUserInfo?username='+${username}+'&&page='+${cPage-1}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <th:block th:if="${cPage}<=1">
                <li th:class="(${cPage}==0)?'active':'gg'"><a th:href="'/admin/findUserInfo?username='+${username}+'&&page=0'">1</a></li>
                <li th:class="(${cPage}==1)?'active':'gg'"><a th:href="'/admin/findUserInfo?username='+${username}+'&&page=1'">2</a></li>
                <li th:class="(${cPage}==2)?'active':'gg'"><a th:href="'/admin/findUserInfo?username='+${username}+'&&page=2'">3</a></li>
                <li th:class="(${cPage}==3)?'active':'gg'"><a th:href="'/admin/findUserInfo?username='+${username}+'&&page=3'">4</a></li>
                <li th:class="(${cPage}==4)?'active':'gg'"><a th:href="'/admin/findUserInfo?username='+${username}+'&&page=4'">5</a></li>
            </th:block>
            <th:block th:if="${cPage}>1 and ${cPage}<${page.totalPages-2}">
                <li><a th:href="'/admin/findUserInfo?username='+${username}+'&&page='+${cPage-2}" th:text="${cPage-1}">3</a></li>
                <li><a th:href="'/admin/findUserInfo?username='+${username}+'&&page='+${cPage-1}" th:text="${cPage}">3</a></li>
                <li class="active"><a th:href="'/admin/findUserInfo?username='+${username}+'&&page='+${cPage}" th:text="${cPage+1}">3</a></li>
                <li><a th:href="'/admin/findUserInfo?username='+${username}+'&&page='+${cPage+1}" th:text="${cPage+2}">3</a></li>
                <li><a th:href="'/admin/findUserInfo?username='+${username}+'&&page='+${cPage+2}" th:text="${cPage+3}">3</a></li>
            </th:block>
            <th:block th:if="${cPage}>=${page.totalPages-2}">
                <li th:class="(${cPage}==${page.totalPages-5})?'active':'gg'"><a th:text="${page.totalPages-4}" th:href="'/admin/findUserInfo?username='+${username}+'&&page='+${page.totalPages-5}">1</a></li>
                <li th:class="(${cPage}==${page.totalPages-4})?'active':'gg'"><a th:text="${page.totalPages-3}" th:href="'/admin/findUserInfo?username='+${username}+'&&page='+${page.totalPages-4}">2</a></li>
                <li th:class="(${cPage}==${page.totalPages-3})?'active':'gg'"><a th:text="${page.totalPages-2}" th:href="'/admin/findUserInfo?username='+${username}+'&&page='+${page.totalPages-3}">3</a></li>
                <li th:class="(${cPage}==${page.totalPages-2})?'active':'gg'"><a th:text="${page.totalPages-1}" th:href="'/admin/findUserInfo?username='+${username}+'&&page='+${page.totalPages-2}">4</a></li>
                <li th:class="(${cPage}==${page.totalPages-1})?'active':'gg'"><a th:text="${page.totalPages}" th:href="'/admin/findUserInfo?username='+${username}+'&&page='+${page.totalPages-1}">5</a></li>

            </th:block>
            <li th:if="${cPage}<${page.totalPages - 1}">
                <a th:href="'/admin/findUserInfo?username='+${username}+'&&page='+${cPage+1}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

</th:block>
<!--分页-->
</html>