<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Library</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/bootstrap-theme.min.css">
    <script src="../../js/jquery-3.2.1.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/base64image.js" type="text/javascript"></script>
    <script src="../../js/exif.js" type="text/javascript"></script>
    <script src="../../js/uploadUtils.js"></script>

    <link rel="stylesheet" href="../../css/login.css">
    <style type="text/css">
        #myCarousel {
            height: 400px;

        }
        #myCarousel img{
            width: 100%;
            height: 400px;
        }

        .footer {
            border-top: 1px solid #e5e5e5;
            color: #777;
            padding: 19px 0;
            background-color: #f5f5f5;
        }


        .myDiv{
            padding-right: 20px;
            border-right:1px solid #D8D8D8;
        }

        .myp{
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            overflow: hidden;
        }
    </style>

    <script src="../../js/base64image.js" type="text/javascript"></script>
    <script src="../../js/exif.js" type="text/javascript"></script>

    <script>
    var id_count = 0;
    var img_count = 0;

    var fileUp = function (me) {
        base64Image({
            file: me,                              /*【必填】对应的上传元素 */
            callback: function (imageUrl) {        /*【必填】处理成功后的回调函数 */
                var img = new Image();
                img.src = imageUrl;
                var path="";
                id_count += 1;
                path += "<div id='"+id_count+"' class=\"closed\" style=\"float:left;width:132px;height:132px;overflow:hidden;position:relative;display: flex;justify-content: center;align-items: center;margin-right:2px;margin-bottom: 4px;\">" +
                    "<img id='img_"+id_count+"' class='upload' src=\""+img.src+"\"  style=\"vertival-align:middle;width:129%;\"><span id=\"removed\">X</span></div>";
                $("#image-list").append(path);

                var count=0;
                $("img").filter('.upload').each(
                    function () {
                        count++;
                    })
                if(count>3){
                  $("#"+id_count).remove();
                    alert("图片上传不能多于3张");
                }
            },

            ratio:0.75                        /*【选填】压缩率默认0.75 */
        });
    };
</script>

<script type="text/javascript">
    $("#image-list").off("mouseenter","div").on("mouseenter","div",function() {
        var that = this;
        var dom = $(that).children("span");
        dom.on("click", function () {
            dom.removeClass("hide");
            dom.parent().remove();
        });
    })
</script>

<script type="text/javascript">
    $(function(){
        $("#lost").on("click",function(){
            $("#box").val("lost");
            $("#lost").css({"background":"#288ADD","color":"#fff"});
            $("#find").css({"background":"#fff","color":"#000"});
        });
        $("#find").on("click",function(){
            $("#box").val("find");
            $("#find").css({"background":"#288ADD","color":"#fff"});
            $("#lost").css({"background":"#fff","color":"#000"});
        })
        $(".btn").on("click",function(event){
            if($(".title_judge").val()==''||$(".lable_judge").val()==''||$(".content_judge").val()==''||$(".content_judge").val().length>140||isNaN($(".tel_judge").val())){
                if($(".title_judge").val()==''){
                    $(".marleft_title").removeClass("hidden");
                }

                if($(".lable_judge").val()==''){
                    $(".marleft_lable").removeClass("hidden");
                }

                if($(".content_judge").val()==''){
                    $(".marleft_content_1").removeClass("hidden");
                }

                if($(".content_judge").val().length>140){
                    $(".marleft_content_2").removeClass("hidden");
                }

                if(isNaN($(".tel_judge").val())){
                    $(".marleft_tel").removeClass("hidden");
                }
                return false;
            }else{
                publishLostAndFound();
                return true;
            }
        })

    })
</script>
<script type="text/javascript">
    function change(){
        $(".marleft_title").addClass("hidden");
        $(".marleft_lable").addClass("hidden");
        $(".marleft_content_1").addClass("hidden");
        $(".marleft_content_2").addClass("hidden");
        $(".marleft_tel").addClass("hidden");
    }
</script>

</head>
<body>
<div class="container-fluid">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <nav class="navbar navbar-default navbar-static-top" role="navigation">
                <div class="navbar-header">
                    <ul class="nav nav-tabs ">
                        <li><img src="../../image/logo.jpg" style="height: 45px;width: auto; margin-top: 5px" ></li>
                        <li><p style="font-size: 35px;margin-top: 3px">Library Management System</p></li>
                    </ul>
                </div>
                <ul class="nav nav-tabs ">
                    <li class="dropdown pull-right">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Account<strong class="caret"></strong></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">Modify</a>
                            </li>
                            <li>
                                <a href="#">Attention</a>
                            </li>
                            <li>
                                <a href="#">More</a>
                            </li>

                        </ul>
                    </li>

                </ul>
            </nav>
            
            </div>
        </div>
    </div>

<!--  form  -->
    <div>

        <form class="form-horizontal" role="form">

          <div class="form-group">
                <div class="col-sm-4" style="margin-right:22px;">
                <div id='image-list'></div>
                <input type="file" class="form-control input-lg"  name="pictures" style="display: none" onchange="fileUp(this)" id="file-up" multiple="multiple">
                <img src="../../image/add2.png" style="width:132px;height:132px;" alt="" onclick="$('#file-up').click();" />
            </div>
          </div>

          <div class="form-group">
            <label for="firstname" class="col-sm-2 control-label">Title</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="firstname" placeholder="Please input book name">
            </div>
          </div>

          <div class="form-group">
            <label for="lastname" class="col-sm-2 control-label">ISBN</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="lastname" placeholder="Please input ISBN">
            </div>
          </div>
          
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default">Submit</button>
            </div>
          </div>
        </form>

    </div>




    <div class="footer ">
        <div class="container">
            <div class="row footer-top">
                <div class="col-sm-6 col-lg-6">
                    <h4></h4>
                    <p>Welcome!</p>
                </div>
                <div class="col-sm-6  col-lg-5 col-lg-offset-1">
                    <div class="row about">
                        <div class="col-xs-3">
                            <h4>About Us</h4>
                            <ul class="list-unstyled">
                                <li>
                                    <a href=""></a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xs-3">
                            <h4>Contact Us</h4>
                            <ul class="list-unstyled">
                                <li>
                                    <a target="_blank" title="" href=""></a>
                                </li>
                                <li>
                                    <a href="">Email</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <hr>
            <div class="row footer-bottom">
                <ul class="list-inline text-center">
                    <li>Copyright &copy;2017. Group 6 Software All Rights Reserved.</li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>