<!DOCkw html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:data="http://www.thymeleaf.org/extras/data">
<head>
    <meta http-equiv="Content-kw" content="text/html; charset=utf-8"/>
    <title>Library</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css" th:href="'/css/bootstrap.min.css'">
    <link rel="stylesheet" href="../../static/css/bootstrap-theme.min.css" th:href="'/css/bootstrap-theme.min.css'">
    <link rel="stylesheet" href="../../static/css/background1.css" th:href="'/css/background1.css'">
    <link rel="stylesheet" href="../../static/css/style.css" th:href="'/css/style.css'">
    <link rel="shortcut icon" href="../../static/image/logo.ico" th:href="'/image/logo.ico'">
    <script src="../../static/js/jquery-3.2.1.min.js" th:src="'/js/jquery-3.2.1.min.js'"></script>
    <script src="../../static/js/bootstrap.min.js" th:src="'/js/bootstrap.min.js'"></script>
    <script src="../../static/js/borrow.js" th:src="'/js/borrow.js'"></script>
    <style kw="text/css">
        .myDiv{
            padding-right: 20px;
            border-right:1px solid #D8D8D8;
        }

        .myp{
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden;
        }

        html,
        body{
            height: 100%;
            margin:0;
            padding:0;
        }
        #container {
            min-height: 100%;
            height: auto !important;
            height: 100%;

            margin: 0 auto -60px;/*margin-bottom的负值等于footer高度*/
        }
        .push,
        #footer {
            height: 30px;
            clear:both;
        }

    </style>

</head>
<body>
<div class="container-fluid " id="container">
    <div class="row clearfix" >
        <nav class="navbar navbar-default mynav" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header" style="text-indent: 30px">
                    <a class="navbar-brand" href="#"><img src="../../static/image/Library.png" th:src="'/image/Library.png'"  ondragstart="return false;"></a>
                </div>

                <div>
                    <ul class="nav navbar-nav pull-right bbbbb">
                        <th:block th:switch="${#authentication.name}">

                            <li th:case="'anonymousUser'" class="dropdown">
                                <a href="#"  class="dropdown-toggle" th:href="'/web/login'">
                                    Login
                                </a>
                            </li>
                            <li  th:case="*" class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <span class="glyphicon glyphicon-user" th:text="${#authentication.name}">Admin</span>
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right aaaaa">

                                    <li  sec:authorize="hasRole('ROLE_ADMIN')"><a class="text-right" href="#" th:href="'/admin/toAddBook'">Profile</a></li>
                                    <li  sec:authorize="hasRole('ROLE_SUPER_ADMIN')"><a class="text-right" href="#" th:href="'/admin/toBorrowBook'">Profile</a></li>
                                    <li  sec:authorize="hasRole('ROLE_NORMAL_USER')"><a  class="text-right" href="#" th:href="'/web/profile'">Profile</a></li>
                                    <li class="divider"></li>
                                    <li><a class="text-right" href="#" th:href="'/admin/adminInfo'">Archives</a></li>

                                    <li class="divider"></li>
                                    <li><a class="text-right" href="#" th:href="'/logout'">Log out</a></li>
                                </ul>
                            </li>
                        </th:block>
                    </ul>

                </div>
            </div>
        </nav>
        <div class="col-md-12 column">

            <div class="row clearfix">
                <div class="col-md-2 col-lg-offset-1 column well well-lg" style="background: rgba(255,255,255,0.5);margin-top: 40px">
                    <h3>Category</h3>
                    <ul class="nav nav-pills nav-stacked">
                        <li th:class="(${type}==All)?'active':'gg'">
                            <a href="" th:href="'/web/getBookList?type=All'">All</a>
                        </li>
                        <li th:class="(${type}==Literature)?'active':'gg'">
                            <a href="" th:href="'/web/getBookList?type=Literature'">Literature</a>
                        </li>
                        <li th:class="(${type}==Children)?'active':'gg'">
                            <a href="" th:href="'/web/getBookList?type=Children'">Children</a>
                        </li>
                        <li th:class="(${type}==Education)?'active':'gg'">
                            <a href="" th:href="'/web/getBookList?type=Education'">Education</a>
                        </li>
                        <li th:class="(${type}==SocialSciences)?'active':'gg'" class="active">
                            <a href="#" th:href="'/web/getBookList?type=SocialSciences'">SocialSciences</a>
                        </li>
                        <li th:class="(${type}==Management)?'active':'gg'">
                            <a href="" th:href="'/web/getBookList?type=Management'">Management</a>
                        </li>
                        <li th:class="(${type}==Encouragement)?'active':'gg'">
                            <a href="" th:href="'/web/getBookList?type=Encouragement'">Encouragement</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-9 col-md-6 columm">

                    <div class="col-md-12 column">
                        <div class="row clearfix">
                            <div class="col-md-4 column">
                                <h3>
                                    Book List
                                </h3>
                            </div>
                            <!-- 搜索栏-->
                            <div class="col-lg-6 col-lg-offset-2" style="margin-top: 10px">
                                <form class="form-horizontal" role="form" th:action="'/web/search'">
                                    <div class="form-group">
                                        <div class="col-lg-5">
                                            <input type="text" name="kw" class="form-control" id="firstname"
                                                   placeholder="BookName">
                                        </div>
                                        <div class="col-sm-2">
                                            <button type="submit" class="btn btn-default">
                                                <span class="glyphicon glyphicon-search"></span>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                        <hr>
                        <div class="row clearfix">


                            <div class="col-md-12 column">
                                <div class="row">
                                    <th:block th:each="p,index:${bookList}">
                                        <div class="col-md-3" data-toggle="modal"  th:attr="data-target='#myModel'+${index.count}">
                                            <div class="thumbnail mybakc">
                                                <img alt="300x200" src="../../static/image/3.jpg" th:src="${p.picture}" style="height: 139px; width: 106px"/>
                                                <div class="caption">
                                                    <h3 class="myp" th:text="${p.name}">
                                                        Thumbnail label
                                                    </h3>
                                                    <p class="col-lg-offset-8">
                                                    <p></p>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal fade" th:id="'myModel'+${index.count}" tabindex="-1" role="dialog"  aria-labelledby="myModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" style="width:1100px">

                                                <div class="modal-content" style="background: url(/image/background1.jpg)">
                                                    <div class="modal-header" style="background: url(/image/head.png)">
                                                        <button kw="button" class="close " data-dismiss="modal" aria-hidden="true">
                                                            &times;
                                                        </button>
                                                        <p style="text-align: center;font-size: 22px;color: #FFFFFF;margin: 0 auto">Details</p>

                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="container">
                                                            <div class="col-lg-4">
                                                                <center>
                                                                    <img src="../../static/image/3.jpg"  th:src="${p.picture}" style="height: 300px; width: 200px;">
                                                                </center>
                                                            </div>

                                                            <div class="col-lg-7">
                                                                <p style="font-size: 20px;font-weight: bold" th:text="${p.name}"></p>
                                                                <p style="font-size: 18px" th:text="${p.authorName}">author name</p>
                                                                <p style="font-size: 16px" th:text="${p.location}">location</p>
                                                                <p style="font-size: 16px" th:text="${p.quantity}">location</p>
                                                                <p ></p></pr></br></br></br></br></p>
                                                                <h4 th:text="${p.remarks}"></h4>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <!--<button kw="button" class="btn btn-default" data-dismiss="modal">close
                                                    </button>-->

                                                </div>
                                            </div><!-- /.modal-content -->
                                        </div><!-- /.modal -->


                                    </th:block>
                                </div>
                            </div>

                            <!--分页-->
                            <th:block th:if="${(page.totalPages le 5) and (page.totalPages gt 0)}">
                                <nav style="text-align: center">
                                    <ul class="pagination ">

                                        <li th:if="${cPage>0}">
                                            <a th:href="'/web/search?kw='+${kw}+'&&page='+${cPage-1}" aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        </li>
                                        <th:block th:each="pg : ${#numbers.sequence(0, page.totalPages - 1)}">
                                            <li th:class="(${cPage}==${pg})?'active':'gg'"><a th:href="'/web/search?kw='+${kw}+'&&page='+${pg}" th:text="${pg+1}">1</a></li>
                                        </th:block>
                                        <li th:if="${cPage}<${page.totalPages - 1}">
                                            <a th:href="'/web/search?kw='+${kw}+'&&page='+${cPage+1}" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                    </ul>

                                </nav>
                            </th:block>
                            <th:block th:if="${page.totalPages gt 5}">
                                <nav aria-label="Page navigation" style="text-align: center">
                                    <ul class="pagination">
                                        <li th:if="${cPage>0}">
                                            <a th:href="'/web/search?kw='+${kw}+'&&page='+${cPage-1}" aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        </li>
                                        <th:block th:if="${cPage}<=1">
                                            <li th:class="(${cPage}==0)?'active':'gg'"><a th:href="'/web/search?kw='+${kw}+'&&page=0'">1</a></li>
                                            <li th:class="(${cPage}==1)?'active':'gg'"><a th:href="'/web/search?kw='+${kw}+'&&page=1'">2</a></li>
                                            <li th:class="(${cPage}==2)?'active':'gg'"><a th:href="'/web/search?kw='+${kw}+'&&page=2'">3</a></li>
                                            <li th:class="(${cPage}==3)?'active':'gg'"><a th:href="'/web/search?kw='+${kw}+'&&page=3'">4</a></li>
                                            <li th:class="(${cPage}==4)?'active':'gg'"><a th:href="'/web/search?kw='+${kw}+'&&page=4'">5</a></li>
                                        </th:block>
                                        <th:block th:if="${cPage}>1 and ${cPage}<${page.totalPages-2}">
                                            <li><a th:href="'/web/search?kw='+${kw}+'&&page='+${cPage-2}" th:text="${cPage-1}">3</a></li>
                                            <li><a th:href="'/web/search?kw='+${kw}+'&&page='+${cPage-1}" th:text="${cPage}">3</a></li>
                                            <li class="active"><a th:href="'/web/search?kw='+${kw}+'&&page='+${cPage}" th:text="${cPage+1}">3</a></li>
                                            <li><a th:href="'/web/search?kw='+${kw}+'&&page='+${cPage+1}" th:text="${cPage+2}">3</a></li>
                                            <li><a th:href="'/web/search?kw='+${kw}+'&&page='+${cPage+2}" th:text="${cPage+3}">3</a></li>
                                        </th:block>
                                        <th:block th:if="${cPage}>=${page.totalPages-2}">
                                            <li th:class="(${cPage}==${page.totalPages-5})?'active':'gg'"><a th:text="${page.totalPages-4}" th:href="'/web/search?kw='+${kw}+'&&page='+${page.totalPages-5}">1</a></li>
                                            <li th:class="(${cPage}==${page.totalPages-4})?'active':'gg'"><a th:text="${page.totalPages-3}" th:href="'/web/search?kw='+${kw}+'&&page='+${page.totalPages-4}">2</a></li>
                                            <li th:class="(${cPage}==${page.totalPages-3})?'active':'gg'"><a th:text="${page.totalPages-2}" th:href="'/web/search?kw='+${kw}+'&&page='+${page.totalPages-3}">3</a></li>
                                            <li th:class="(${cPage}==${page.totalPages-2})?'active':'gg'"><a th:text="${page.totalPages-1}" th:href="'/web/search?kw='+${kw}+'&&page='+${page.totalPages-2}">4</a></li>
                                            <li th:class="(${cPage}==${page.totalPages-1})?'active':'gg'"><a th:text="${page.totalPages}" th:href="'/web/search?kw='+${kw}+'&&page='+${page.totalPages-1}">5</a></li>

                                        </th:block>
                                        <li th:if="${cPage}<${page.totalPages - 1}">
                                            <a th:href="'/web/search?kw='+${kw}+'&&page='+${cPage+1}" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>

                            </th:block>
                            <!--分页-->
                            <br><br><br>
                        </div>


                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div id="footer">
    <div class="bottom">
        <div class="normal">
            <img src="../../static/image/Library.png" th:src="'/image/Library.png'"   style="height: auto; width: 350px; margin-top: 25px" class="logow">
            <ul class="ul_bottom">
                <li>Tel：17730308728</li>
                <li> Email：17730308728@qq.com</li>
            </ul>
            <img src="../../static/image/barcode.jpg" th:src="'/image/barcode.jpg'" style="height: auto ;width: 80px;margin:10px;">
        </div>
    </div>
    <div class="last">
        ©Copyright &copy;2017. Group 6 Software All Rights Reserved.
    </div>
</div>

</body>
</html>

